<nav class="navbar">
  <div class="nav-brand">
    <h2>Mi App Angular</h2>
  </div>

  <div class="nav-link">
    @for (item of navService.menuItems(); track item.path) {
      @if (item.protected || (item.protected && navService.isLoggedIn())) {
        <a
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.label }}
        </a>
      }
    }
  </div>

  <div class="nav-auth">
    @if (navService.isLoggedIn()) {
      <span>Bienvenido!</span>
      <button (click)="logout()">Cerrar Sesion</button>
    } @else {
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
      <nav></nav>
    }
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>